
/* ==========================================================================
Style Sheet for Edge Inspect Lab Session
========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }
html { font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */ }
html, html a { -webkit-font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }
html, button, input, select, textarea {
	font-family: varela-round;
	font-style: normal;
	font-weight: 400;
}
body { margin: 0; font-family: varela-round, sans-serif; }
/* ==========================================================================
Links
========================================================================== */
a:focus { outline: thin dotted; }
/* * Improves readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }
/* ==========================================================================
Typography
========================================================================== */
h1 {font-size: 2em;margin: 0.67em 0;color: #353535;font-family: montserrat;font-weight: 400;letter-spacing: px;font-style: normal;}
h2 { font-size: 1.5em; margin: 0.83em 0; }
h3 { font-size: 1.17em; margin: 1em 0; }
h4 { font-size: 1em; margin: 1.33em 0; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.75em; margin: 2.33em 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
p, pre { margin: 1em 0; }
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 75%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* ==========================================================================
Lists
========================================================================== */
dl, menu, ol, ul { margin: 1em 0; list-style: none; }
dd { margin: 0 0 0 40px; }
menu, ol, ul { padding: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; }
li{color:#333;float:left; padding-left:4%; padding-right:4%; padding-top:5%;padding-bottom:4%; cursor:pointer;-webkit-transition: color 0.5s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: color 0.5s;
    transition-timing-function: linear; }
li:hover{cursor:pointer; color:rgba(0, 0, 0, 0.3);}
.active {border-bottom: 2px solid rgba(158, 158, 158, 0.8); }
/* ==========================================================================
Media & Images
========================================================================== */
img { border: 0; /* 1 */
-ms-interpolation-mode: bicubic; /* 2 */ }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
/* ==========================================================================
Global Styles
========================================================================== */
a { color: #353535; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
a:hover, a:focus { color: #ff534e; text-decoration: none; }
p {color: #999999;word-spacing: 1px;line-height: 25px;font-size: 14px;}
h2 { font-size: 24px;color: #353535;text-transform: none;font-weight: bold;font-family: montserrat, sans-serif;}
.section-padding { padding:10px; text-align:justify; }
.nopadding { padding: 0; }
.heroText { padding-top: 170px; }
.bookmarks { position: relative; height: 26px; }
/* ==========================================================================
Hero Slide & Button
========================================================================== */
.hero { background: url('../img/hero.png') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 65px 0% 400px 0%; height: auto;background-attachment: fixed; }
.hero h1 {font-size: 40px;letter-spacing: -1px;margin: 10px 0 10px 0;font-weight: 100;font-family: montserrat, sans-serif;color: #4a4949;}
.hero h1 p { color: #4a4949; display: inline-block; vertical-align: super; font-size: 16px;}
.hero p { letter-spacing: 1px; }
.story { background: #150f23; padding: 20px 40px;text-transform: uppercase; letter-spacing: 1px; display: inline-block; margin: 60px 0 0; font-weight: bold; color:#FFFFFF; }
.story:hover, .story:focus { background:rgba(21, 15, 35, 0.43); color: #fff; }
/* ==========================================================================
Intro
========================================================================== */
.intro { background: #FFFFFF; }
/* ==========================================================================
imageFill
========================================================================== */
.imageFill { background: url('../img/parallax.png') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment: fixed; padding: 150px 0; }
.imageFill h1 { color: #fff;
font-size: 40px;text-align: left;font-size: 32px;font-weight: 200;}
.imageFill h1 span { display: block; font-size: 25px; margin-top: 20px; }
/* ==========================================================================
Author, Bio & Social Links
========================================================================== */
.author img { margin-bottom: 40px;}
ul.social-buttons { list-style: none;margin:5% 0 0 0; }
ul.social-buttons-two {padding-left:0 }
ul.social-buttons li { display: inline-block; margin-right: 10px; }
ul.social-buttons li:last-child { margin-right: 0; }
.social-btn { width: 40px; height: 40px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; background: #242830; display: inline-block; color: #fff; font-size: 17px; line-height: 40px; text-align: center; }
.social-btn2 {width: 60px;height: 60px;border-radius: 60%;-moz-border-radius: 60%;-webkit-border-radius: 60%;-o-border-radius: 60%;background: #FFFFFF;display: inline-block;color: #fff;font-size: 17px;line-height: 40px;text-align: center;border: 3PX soliD #000000;}
.social-btn:hover, .social-btn:focus { background: rgba(36, 40, 48, 0.46); color: #fff; }
.social-btn2:hover, .social-btn2:focus { border:3px solid #ff534e; }
.social { margin-top: 25px }
/* ==========================================================================
Footer
========================================================================== */
footer a { color: #a1a9b0; }
.footer { background-color: rgba(39, 39, 39, 0.89);
padding: 20px 0 20px;
margin: 0;
text-align: center;
}
footer p { color: #fff; }
ul.footerLeft { list-style: none; color: #fff; line-height: 25px; }
ul.footerLeft li { }
.footerLeft { text-align: left; }
.credit { text-align: right; }
/* ==========================================================================
Icons
========================================================================== */
.fao {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(65, 65, 65);
    padding: 20px;
}
.fao:hover {
    color:#ff534e;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* ==========================================================================
Footer
========================================================================== */
.alignmentchanges {
    text-align:center;
}
ul.author { 
    list-style: none; margin: 0; padding: 0; 
}
div.authorAlign {
    padding-right: 9%;
}
#card1 {
    height: 690px;
    background: url(../img/card1.png) #fff; 
    background-repeat:no-repeat;
    background-position:auto;
    background-size:cover;
    padding:10%;
    text-align: center;
    padding-top:20%;
}


.infoCard {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #bec5c4;
    position: relative;
    padding-left: 12%;
    padding-right: 12%;
    background: url(img/card1.png) auto center;
    color: #4a4949;
    text-align:justify;
}

.max-logo {position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 45%;
	left: 40%;}

.card {
    height:690px;
    opacity:1;
        -webkit-transition: opacity 0.5s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: opacity 0.5s;
    transition-timing-function: linear;
    
    
}
.card:hover {
    opacity:0.8;
    cursor:pointer;
    -webkit-transition: opacity 0.5s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: opacity 0.5s;
    transition-timing-function: linear;
}
.textBox {
       
    height: 690px; padding:10%;
    overflow:hidden;
     cursor:pointer;
       background: rgba(231, 231, 231, 0.07); 
    -webkit-transition:  background 0.5s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition:  background 0.5s;
    transition-timing-function: linear;
}
.textBox:hover{

     background:  #ECECEC; 
}

#card2 {
     background: url(../img/card2.png) #fff; 
    background-repeat:no-repeat; 
    background-position: 10px;
    background-size:cover;
    padding:10%;
    text-align: center;
    padding-top:15%;
    color:#FFF;
}

.textCard {
     background: url(../img/card3.png) #fff; background-repeat:no-repeat; background-position:10px;background-size:cover;
    height: 690px;margin-top:10px; padding: 5%; color:#fff;
    opacity:1;
     -webkit-transition: opacity 0.5s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: opacity 0.5s;
    transition-timing-function: linear;
}
.textCard:hover{ opacity:0.8;
    cursor:pointer;
    -webkit-transition: opacity 0.5s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: opacity 0.5s;
    transition-timing-function: linear;}

.specialCard {
     background: url(../img/card4.png) #fff; background-repeat:no-repeat; background-position:10px;background-size:cover;
    height: 690px; margin-top:10px; 
    padding:10%;
    text-align:center;
    padding-top:8%;
    opacity:1;
     -webkit-transition: opacity 0.5s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: opacity 0.5s;
    transition-timing-function: linear;
}
.specialCard:hover{
 opacity:0.8;
    cursor:pointer;
    -webkit-transition: opacity 0.5s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: opacity 0.5s;
    transition-timing-function: linear;
}

.textOverlay {
    color:#FFF; font-size:18px
}

.menuButton {
    font-size:32px;
    color:#FFF;
}

.dayText {
    background-color: rgba(51, 51, 51, 0.33);
padding:8%;
        text-align:left;
}

.textButtons {
    background-color: #bec5c4;
    padding-top:4%;
    padding-bottom:4%;
}
.titles {
    border: 3px solid #FFF;
    color: #fff;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    display:inline-block;
    margin-top: 5%;
    cursor:pointer;
}
.readMore {
    color:#FFF; padding-bottom: 5%;
    cursor:pointer;
}

.magic {
    position: relative;
	width: 100%;
	background: #FFF;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}




